.page-content {
    margin: 80px 10px 70px 10px;
}

.content {
    background-color: #FDFDFD;
    color: #434F54;
    font-size: 18px;
    font-size: 1.8em;
}

.content img {
    border: 2px solid #5593ab;
}

.content h1 {
    font-size: 60px;
    font-size: 3.5em;
}

.content h1, .content .navbar-default .navbar-brand {
    font-family: 'Dancing Script', cursive;
}

.content h2 {
    font-size: 42px;
    font-size: 2.3em;
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 1px solid #5593AB;
}

.content h3 {
    display: inline-block;
    margin-bottom: 10px;
    border-bottom: 1px solid #7DD9FC;
    padding-bottom: 5px;
}

.content ul {
    padding-left: 15px;
}

.content .navbar-brand {
    font-size: 24px;
    font-size: 1.5em;
}

.content .navbar-default .navbar-nav > li > a, .content .navbar-default .navbar-brand {
    color: #434F54;
}

.content .navbar-default .navbar-nav > li > a:hover, .content .navbar-default .navbar-brand:hover {
    color: #5593AB;
}

.navbar-nav > li, .content .navbar-default .navbar-brand {
    border-style: solid;
    border-color: #c9eefc;
    border-width:  0 3px 0 3px;
}

.navbar-nav > li:hover {
    background-color: #ffffff;
    border-color: #C9EEFC;
}

.navbar-default .navbar-brand:hover {
    background-color: #ffffff;
}

#navigation .navbar {
    background-color: #C9EEFC;
}

#footer .navbar {
    text-align: center;
    padding: 9px;
    background-color: #434f54;
    color: #fdfdfd;
    min-height: 40px;
    font-size: .8em;
}

#footer .glyphicon {
    margin-left: 7px;
    margin-right: 7px;
    color: #7DD9FC;
}